.h1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #9593e7;
  color: white;
}
.img {
  width: 40px;
  height: 40px;
}
.button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
}
