.header {
  position: static;
  width: 80%;
  height: 4rem;
  background-color: #0c0b0b;
  color: white;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  align-items: center;
  vertical-align: middle;
}

.generics {
  width: 80%;
  height: 10rem;
  background-color: #747171;
  color: white;
  display: flex;
  font-size: 50px;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  align-items: center;
  vertical-align: "middle";
}
.header a {
  text-decoration: none;
  color: white;
  margin: 0 80px 0 0;
  font-weight: bold;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}
