.container{
   width: 1100px;
    height:800px;
    background-color:rgb(240, 240, 254);
    margin: 50px;
    padding:10px;
}
.navlink {
    padding:10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(120, 120, 150);
   
  }
 .active  {
    color: blue;
    text-decoration: none;
  }
  .linknumbera{
    font-weight: bold;
    margin-right: 5px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin:10px;
  }
  
  .linknumber {
    font-weight: bold;
    margin-right: 5px;
    background-color: rgb(166, 166, 195);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin:10px;
  }
  
  .dot {
    
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(184, 194, 209);
    margin: 0 3px;
    display: inline-block;
  }
 